/*==========Root==========*/
:root {

  --color-bg: linear-gradient(hsl(206, 100%, 83%), hsl(0, 0%, 100%), hsl(0, 0%, 100%));
  --color-bg-1: linear-gradient(180deg, hsl(219, 20%, 17%) 35%, hsla(219, 20%, 17%, 0.849) 100%);
  --color-moon: hsl(28, 37%, 85%);
  --color-sun: hsl(60, 100%, 50%);
 
  --transition: all 400ms ease-in-out;

  --shadow: 0 0 50px rgba(255, 0, 0, 0.466);
  --shadow-1: 0 0 50px rgba(255, 255, 255, 0.466);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*==========Scene==========*/
.scene {
  position: relative;
  height: 100vh;
  background: var(--color-bg);
}
.sun {
  position: absolute;
  top: 4rem;
  left: 40%;
  transform: translateX(-50%);
  width: 8rem;
  height: 8rem;
  background: var(--color-sun);
  border-radius: 50%;
  box-shadow: var(--shadow);
  cursor: pointer;
  transition: var(--transition);
}
.bg {
  background-image: url('../images/clouds.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.bg h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 4rem;
  font-family: sans-serif;
  font-weight: 900;
}

/*==========Dark==========*/
.dark .scene {
  background: var(--color-bg-1);
}
.dark .sun {
  left: 55%;
  background: var(--color-moon);
  box-shadow: var(--shadow-1);
}
.dark .bg {
  background-image: url('../images/stars.png');
}
.dark .bg h1 {
  color: #fff;
}
